.um-box{
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}

.um-table-ud{
    padding: 4px !important;
    border-radius: 3px;
    font-size: 20px;
    transition: font-size 0.5s ease;
}

.um-table-ud:hover{
    background-color: rgb(33, 37, 41) !important;
    color: #ffffff !important;
    font-size: 22px;
}

.btn{
    transition: font-size 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    font-size: 22px;
    background-color: rgb(33, 37, 41);
}

#sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 100vh;
    background-color: orange;
    width: max(15%, 200px);
    transition: width 0.5s linear;
}

.sidebar-none{
    width: 0% !important;
    padding: 0px !important;
}

.sidebar-none #sidebar-header-title, .sidebar-none #sidebar-body{
    display: none !important;
}

.sidebar-none #sidebar-button{
    left: 10px !important;
    top: 20px !important;
    opacity: 0.65 !important;
}

#sidebar-header{
    margin-top: 20px;
}

#sidebar-button{
    font-size: 24px;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    left: calc(max(15%, 200px) - 24px);
    background-color: rgb(241, 157, 0);
    border: none;
    transition: left 0.5s linear;
}

.sidebar-button-disabled{
    display: none;
}

#sidebar-button:hover{
    background-color: azure;
}

@media screen and (max-width: 600px) {
    #body{
        width: 100% !important;
    }
}

#body{
    width: calc(75% - 24px);
}

/*

    um - UserManager
    ml - more/less

*/
.um-box-ml{
    transition: transform 0.5s ease;
    transform-origin: 50%  35%;
}

.um-box-ml.rotate{
    transform: rotate(-180deg);
}

/*

    PAGINATION ELEMENTS

*/

.um-pagination-button{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 20px;
    border: 1px solid gainsboro;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.um-pagination-button:hover{
    background-color: gainsboro;
    color: #ffffff;
}

.um-pagination-disabled{
    background-color: gainsboro;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 20px;
    border: 1px solid gainsboro;
    cursor: auto;
    color: rgb(185, 185, 185);
}

.um-pagination-active{
    background-color: gainsboro;
    font-weight: bold;
}