.um-box{
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}

.um-table-ud{
    padding: 4px !important;
    border-radius: 3px;
    font-size: 20px;
    transition: font-size 0.5s ease;
}

.um-table-ud:hover{
    background-color: rgb(33, 37, 41) !important;
    color: #ffffff !important;
    font-size: 22px;
}

.btn{
    transition: font-size 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    font-size: 22px;
    background-color: rgb(33, 37, 41);
}

#sidebar{
    height: 100vh;
    background-color: orange;
    width: max(15%, 200px);
    transition: width 0.5s linear;
}

.sidebar-none{
    width: 0% !important;
    padding: 0px !important;
}

.sidebar-none #sidebar-header-title, .sidebar-none #sidebar-body{
    display: none !important;
}

.sidebar-none #sidebar-button{
    position: fixed;
    left: 10px;
    top: 20px;
    opacity: 0.65;
}

#sidebar-header{
    margin-top: 20px;
}

#sidebar-button{
    font-size: 24px;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    left: calc(max(15%, 200px) - 24px);
    background-color: rgb(241, 157, 0);
    border: none;
    transition: left 0.5s linear;
}

.sidebar-button-disabled{
    display: none;
}

#sidebar-button:hover{
    background-color: azure;
}

@media screen and (max-width: 600px) {
    #sidebar {
        width: 0%;
        min-width: 0px;
        padding: 0px;
    }

    #sidebar-button{
        left: 10px;
    }

    #sidebar-header-title{
        display: none;
    }

    #sidebar-body{
        display: none;
    }

    #body{
        width: 100% !important;
    }
}

#body{
    width: calc(75% - 24px);
}